extends ../layout

block content
  
  h1 Contatos
  a(href='/contatos/create/#{id}', class="btn btn-lg btn-success", role='button') Cadastrar
  br
  br
  if messages.erro 
    div(class='alert alert-danger', role='alert')
      p #{messages.erro}
    br
      
  if messages.info
    div(class='alert alert-success', role='alert')
      p #{messages.info}
      br
  
  if lista.length > 0
    table(class="table table-striped")
      thead
        tr
          th ID:
          th Tipo:
          th Telefone:
          th Ações:
      tbody
        each valor in lista
          tr
            td #{valor._id}
            td #{valor.tipo}
            td #{valor.telefone}
            td
              a(href='/contatos/remove/#{valor._id}', class='btn btn-danger')
                span(class='glyphicon glyphicon-trash')
              
  else
    p Nenhum registro encontrado!
